doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='http://harvesthq.github.com/chosen/chosen.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')
    script(src='/node_modules/chosen-js/chosen.jquery.min.js')
    script(src='/node_modules/chosen-js/chosen.jquery.js')
